* {
  font-family: "Inter", serif;
  font-style: normal;
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
  gap: 0;
  text-decoration: 0;
}
html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 94%;
  background: #ffe0c7;
}
